.projects {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(40em, 1fr)); */
    grid-gap: 1em;
}

@media (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));
    }
}