@import url('./nav.css');
@import url('./general.css');
@import url('./gallery.css');

.container {
    max-width: 1440px;
    height: auto;

    background: rgb(28,28,28);
    background: linear-gradient(25deg, rgba(28,28,28,0.5) 0%, rgba(240,239,239,0.15) 40%, rgba(28,28,28,0.25) 0%);

    margin: 1.5em auto;
    text-align: center;

    box-shadow: 0 2px 10px #00000050;

    border: 2px solid #F0EFEF00;
}


.pic {
    aspect-ratio: 1/1;
    max-width: 300px;
    background-color: #2E2E2E;
    border-radius: 100%;
    box-shadow: 0 0 75px #ffffff75;
    margin: 2.5em auto 1.5em auto;
    transition: 0.25s ease-in-out;
}

.pic:hover {
    box-shadow: 0 0 75px #cf2727;
    transform: translateY(-10px);
}

h1 {
    background-image: linear-gradient(180deg, #F0EFEF, #cccccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    text-transform: uppercase;
    font-size: clamp(3rem, 1.7864rem + 5.178vw, 8rem);
    font-weight: 800;
}

h2 {
    background-image: linear-gradient(180deg, #F0EFEF, #cccccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    text-transform: uppercase;
    font-size: clamp(2rem, 1.0291rem + 4.1424vw, 6rem);
    font-weight: 800;
}

.desc {
    color: #F0EFEF;
    line-height: 2em;
    font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
    margin: 1em auto;
}

.desc span code {
    color: #CF2727;
    background-color: #00000050;
    padding: 0.25em;
}



button {
    background-image: linear-gradient(45deg, #cf2727 0%, #7f2727 100%);
    padding: 0.5em 1em;
    font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
    border-radius: 25rem;
    margin-top: 1em;
    margin-bottom: 1em;
    outline: none;
    border: none;
    color: #F0EFEF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    transition: background-image 0.5s;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(#7f2727, #7f2727);
}



.work {
    height: auto;
    padding-bottom: 2.5em;
}

.projects {
    height: auto;
    max-width: 1440px;

    background: rgb(28,28,28);
    background: linear-gradient(25deg, rgba(28,28,28,0.5) 0%, rgba(240, 239, 239, 0.15) 40%, rgba(28,28,28,0.25) 0%);

    margin: 0 auto;
    text-align: center;

    box-shadow: 0 2px 10px #00000050;

    border: 2px solid #F0EFEF00;
}

.project-section {
    display: grid;
}

.break {
    background: transparent;
    border: transparent;
    outline: transparent;
    padding: 1em;
}

.projects {
    padding: 1em;
}

.item {
    background: rgb(28,28,28);
    box-shadow: 0 2px 10px #00000050;
    background: linear-gradient(25deg, rgba(28,28,28,0.5) 0%, rgba(240, 239, 239, 0.15) 40%, rgba(28,28,28,0.25) 0%);
    padding: 0.5em;
}

.content {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.content:hover {
    filter: brightness(0.35);
}

 @media (min-width: 375px) {
    
    .work {
        height: auto;
    }
    
} 

