header {
    height: 10vh;
    background: linear-gradient(#F0EFEF25 0%, #1c1c1c00 100%);
    box-shadow: 0 2px 25px #00000050;
    padding: 0 5%;
    z-index: 10; 
}

nav {
    max-width: 1440px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-menu {
    display: none;
    gap: 3em;
}

.nav-link {
    color: #F0EFEF;
    text-decoration: none;
    font-size: clamp(0.5rem, 0.0752rem + 1.8123vw, 2.25rem);
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 5px 2.5px 2.5px #00000050;
    letter-spacing: 3.5px;
    transition: 0.2s ease-in-out;
}



.nav-item {
    list-style: none;
}

.logo {
    max-width: 100px;
    aspect-ratio: 1/1;
}


.navigation {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: -100vw;
    transition: left;
    transition-duration: 0.75s;
    z-index: 90;
}

.menus {
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 20px;
    text-shadow: 2.5px 2.5px 5px black;
}

.menus a{
    line-height: 80px;
    text-decoration: none;
    color: #eee;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 10px;
    cursor: default;
}

.navigation.active {
    left: 0;
}

.navigationHandle {
    z-index: 100;
    font-size: 3.5rem;
    text-shadow: 5px 2.5px 2.5px #00000050;
    transition: 0.2s ease-in-out;
    color: #F0EFEF;
    transition: text-shadow, color;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}



@media (min-width: 768px) {

    .navigationHandle {
        display: none;
    }

    .nav-menu {
        display: flex;
    }

    .nav-link:hover {
        color: #CF2727;
        transform: translateY(-5px);
    }

    .navigationHandle:hover {
        color: #e7afaf;
        text-shadow: 2.5px 2.5px 5px black;
        cursor: pointer;
    }

    .menus a:hover {
        /* color: rgb(, 0, 0); */
        color: #cf2727;
        text-shadow: 2.5px 2.5px 5px darkred;
        cursor: pointer;
    }

}





